# Legacy Jekyll build output
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Legacy Ruby dependencies
Gemfile.lock

# Node and Astro build output
node_modules/
dist/
.astro/

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore files created by MacOS
.DS_Store
